<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Основные настройки -->
  <RunConfiguration>
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <TargetPlatform>x64</TargetPlatform>
    <TargetFrameworkVersion>net7.0</TargetFrameworkVersion>
  </RunConfiguration>

  <!-- Настройки покрытия кода -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura, json</Format>
          <Include>[MiniHW2.*]*</Include>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>